<header *ngIf="languageservice.chosenLanguage == 'english'">
    <div class="header-logo">
        <img src="assets/img/header-logo-white.svg">
    </div>
    <div class="links">
        <div (click)="scrollToTop()"><a routerLink="/" class="home">HOME</a></div>
        <a href="#portfolio" class="portfolio">PORFOLIO</a>
        <a href="#about-me" class="about">ABOUT</a>
    </div>


    <label class="menu-button-wrapper d-none" for="">
        <input type="checkbox" class="menu-button">
        <div class="icon-wrapper">
            <label class="hamburger">
                <input class="hamburger-input" type="checkbox">
                <span class="hamburger-line first"></span>
                <span class="hamburger-line second"></span>
                <span class="hamburger-line third"></span>
            </label>
        </div>
        <div class="item-list">
            <a (click)="scrollToTop(); uncheck()" routerLink="/" class="home">HOME</a>
            <a (click)="uncheck()" href="#portfolio" class="portfolio">PORFOLIO</a>
            <a (click)="uncheck()" href="#about-me" class="about">ABOUT</a>
        </div>
    </label>
</header>

<header *ngIf="languageservice.chosenLanguage == 'german'">
    <div class="header-logo">
        <img src="assets/img/header-logo-white.svg">
    </div>
    <div class="links">
        <div (click)="scrollToTop()"><a routerLink="/" class="home">Startseite</a></div>
        <a href="#portfolio" class="portfolio">Portfolio</a>
        <a href="#about-me" class="about">Über mich</a>
    </div>


    <label class="menu-button-wrapper d-none" for="">
        <input type="checkbox" class="menu-button">
        <div class="icon-wrapper">
            <label class="hamburger">
                <input class="hamburger-input" type="checkbox">
                <span class="hamburger-line first"></span>
                <span class="hamburger-line second"></span>
                <span class="hamburger-line third"></span>
            </label>
        </div>
        <div class="item-list">
            <a (click)="scrollToTop(); uncheck()" routerLink="/" class="home">Startseite</a>
            <a (click)="uncheck()" href="#portfolio" class="portfolio">Portfolio</a>
            <a (click)="uncheck()" href="#about-me" class="about">Über mich</a>
        </div>
    </label>
</header>