<footer *ngIf="languageservice.chosenLanguage == 'english'">
    <div class="legal">
        <a routerLink="/imprint">Imprint</a>
        <span> - </span>
        <a routerLink="/privacy-policy">Privacy policy</a>
    </div>
    <div class="social-media">
        <a href="https://www.linkedin.com/in/dennis-frese-a15977262/"><img src="assets/img/icons/LikedIn.svg"></a>
        <a href="https://github.com/Pl4tinZ"><img src="assets/img/icons/GitHub.svg"></a>
        <a href="https://www.xing.com/profile/Dennis_Frese2/cv"><img src="assets/img/icons/Xing.svg"></a>
    </div>
</footer>

<footer *ngIf="languageservice.chosenLanguage == 'german'">
    <div class="legal">
        <a routerLink="/imprint">Impressum</a>
        <span> - </span>
        <a routerLink="/privacy-policy">Datenschutz</a>
    </div>
    <div class="social-media">
        <a href="https://www.linkedin.com/in/dennis-frese-a15977262/"><img src="assets/img/icons/LikedIn.svg"></a>
        <a href="https://github.com/Pl4tinZ"><img src="assets/img/icons/GitHub.svg"></a>
        <a href="https://www.xing.com/profile/Dennis_Frese2/cv"><img src="assets/img/icons/Xing.svg"></a>
    </div>
</footer>
