<div class="about-me-content" id="about-me" *ngIf="languageservice.chosenLanguage == 'english'">
    <div class="personal-information">
        <div class="about-me-profile-picture">
            <img src="assets/img/about-me-picture.jpg">
        </div>
        <div class="about-me-information-text">
            <h2>About me.</h2>
            <span>Hey, glad to see you visiting my site. I'm an aspiring junior frontend developer from Bad Oeynhausen, Germany. 
                With a passion for web design and user experience, I have gained solid skills in HTML, CSS and JavaScript, as well as Angular and TypeScript. 
                My joy in creating intuitive, aesthetic user interfaces drives me. I'm curious and looking for new opportunities to expand my skills.
                If you're looking for a committed front-end developer working on great digital experiences, I'm available. Let's get into a conversation!</span>
        </div>
    </div>
    <div class="line">
        <img src="assets/img/icons/line.svg">
    </div>
    <div class="detail-informations">
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/run.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MY JOURNEY BEGAN</h3>
                <span>Since my childhood, I delved into the world of code, laying the foundations and discovering my passion for creative problem-solving.</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/hearth.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MY PASSION</h3>
                <span>With an unstoppable drive, I craft intuitive user interfaces that not only look appealing but also prioritize user-friendliness, adding value for both businesses and customers.</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/loupe.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MY SEARCH</h3>
                <span>My quest for flawless code and innovative design concepts propels me to constantly embrace new challenges, deepening my skills along the way.</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/airplane.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MY AIM</h3>
                <span>Creating inspiring digital experiences that not only impress but also transform how people interact with technology is my ultimate goal.</span>
            </div>
        </div>
    </div>
</div>

<div class="about-me-content" id="about-me" *ngIf="languageservice.chosenLanguage == 'german'">
    <div class="personal-information">
        <div class="about-me-profile-picture">
            <img src="assets/img/about-me-picture.jpg">
        </div>
        <div class="about-me-information-text">
            <h2>Über mich.</h2>
            <span>Hey, freut mich das du meine Seite besuchst. Ich bin ein aufstrebender Junior-Frontend-Entwickler aus Bad Oeynhausen. 
                Mit einer Leidenschaft für Webdesign und User Experience habe ich mir solide Kenntnisse in HTML, CSS und JavaScript, sowie Angular und TypeScript angeeignet. 
                Meine Freude an der Gestaltung intuitiver, ästhetischer Benutzeroberflächen treibt mich an. Ich bin neugierig und auf der Suche nach neuen Möglichkeiten, meine Fähigkeiten zu erweitern.
                Wenn du auf der Suche nach einem engagierten Frontend-Entwickler sind, der an großartigen digitalen Erlebnissen arbeitet, stehe ich zur Verfügung. Lassen uns ins Gespräch kommen!</span>
        </div>
    </div>
    <div class="line">
        <img src="assets/img/icons/line.svg">
    </div>
    <div class="detail-informations">
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/run.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MEINE WEG BEGANN</h3>
                <span>Seit meiner Kindheit begann ich in der Welt des Codes, wo ich die Grundlagen legte und meine Begeisterung für kreative Problemlösungen entdeckte.</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/hearth.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MEINE LEIDENSCHAFT</h3>
                <span> Ein unbändiger Antrieb, intuitive Benutzeroberflächen zu schaffen, die nicht nur gut aussehen, sondern auch benutzerfreundlich sind um einen Mehrwert für Unternehmen und Kunden zu schaffen.</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/loupe.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MEINE SUCHE</h3>
                <span>Meine Suche nach perfekten Codes und innovativen Designkonzepten führt mich dazu, ständig neue Herausforderungen anzunehmen und mein Können zu vertiefen.</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="assets/img/icons/airplane.svg">
            </div>
            <div class="detail-information-text">
                <h3 class="scramble">MEIN ZIEL</h3>
                <span>Inspirierende digitale Erlebnisse zu schaffen, die nicht nur beeindrucken, sondern auch die Art und Weise verändern, wie Menschen mit Technologie interagieren.</span>
            </div>
        </div>
    </div>
</div>