<div class="about-me-content" id="about-me">
    <div class="personal-information">
        <div class="about-me-profile-picture">
            <img src="assets/img/profile-picture.png">
        </div>
        <div class="about-me-information-text">
            <h2>About me.</h2>
            <span>" I'm an outdoor sports enthusiast and front end devloper who loves pushing boundaries</span>
        </div>
    </div>
    <div class="line">
        <img src="assets/img/icons/line.svg">
    </div>
    <div class="detail-informations">
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="../../assets/img/icons/run.svg">
            </div>
            <div class="detail-information-text">
                <h3>MY JOURNEY BEGAN</h3>
                <span>mit dem Antrieb mich weiter zu entwickeln, nie stehen zu bleiben und zu erschaffen. In die Reise ins unbekannte</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="../../assets/img/icons/hearth.svg">
            </div>
            <div class="detail-information-text">
                <h3>MY PASSION</h3>
                <span>mit Feuer in der Brust und leidenschaft im Geist stück für stück die Welt zu verändern</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="../../assets/img/icons/loupe.svg">
            </div>
            <div class="detail-information-text">
                <h3>MY SEARCH</h3>
                <span>Ich bin stets auf der Suche nach Abenteuer, Spaß, Weiterentwickelung und neuen Erfahrungen</span>
            </div>
        </div>
        <div class="detail-information" data-aos="zoom-in">
            <div class="detail-information-icon">
                <img src="../../assets/img/icons/airplane.svg">
            </div>
            <div class="detail-information-text">
                <h3>MY AIM</h3>
                <span>Durch Leistung, Durchhaltevermögen und Disziplin ein gesundes Gleichgewicht zwischen Arbeit, Familie und Natur herstellen</span>
            </div>
        </div>
    </div>
</div>
