$primary: #FA2759;
$secondary: #2DFCD8;
$grey: #1A1A1A;

.start-screen {
    background-color: black;
    color: white;
    margin-top: 144px;
    margin-bottom: 100px;
    padding: 0 120px;
}

.start-screen-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.left-content-start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    padding: 20px 0;
}

.welcome-text, .static-welcome-text {
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
}

.static-welcome-text {
    white-space: pre;

    p {
        margin: 0;
        display: flex;
        flex-direction: row;
    }
}

.show {
    animation: popup 1s;
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.right-content-start-screen {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 350px;
        border-radius: 100%;
    }
}

a {
    text-decoration: none;
}

.sec-btn {
    width: 300px;
    height: 80px;
    border: solid 2px $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        transition: all 225ms ease-in-out;
        background-color: $secondary;

        span {
            transition: all 225ms ease-in-out;
            color: black;
        }
    }

    span {
        color: $secondary;
        font-size: 18px;
    }
}

.scroll-down-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 90px 0;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}