<div class="headline" id="portfolio">
    <h2>My work</h2>
</div>
<div class="filter-container">
    <div class="pri-btn">All</div>
    <div class="pri-btn">Angular</div>
    <div class="pri-btn">JavaScript</div>
</div>
<div class="work-container">
    <div class="project">
        <img src="../../assets/img/project1.png">
    </div>
    <div class="project">
        <img src="../../assets/img/project2.png">
    </div>
    <div class="project">
        <img src="../../assets/img/project3.png">
    </div>
    <div class="project">
        <img src="../../assets/img/project4.png">
    </div>
</div>
