$primary: #FA2759;
$secondary: #2DFCD8;
$grey: #1A1A1A;

.my-work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    margin-top: 96px;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
}

.filter-container {
    display: flex;
    gap: 6px;
}

.pri-btn {
    width: 130px;
    height: 70px;
    border: solid 2px $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 48px 0;
    cursor: pointer;

    @media (max-width: 700px) {
        width: 100px;
        height: 55px;
    }

    @media (max-width: 550px) {
        width: 80px;
        height: 45px;
    }

    @media (max-width: 460px) {
        width: 56px;
        height: 32px;
    }

    span {
        @media (max-width: 550px) {
            font-size: 14px;
        }  

        @media (max-width: 460px) {
            font-size: 10px;
        }
    }
    

    &:hover {
        transition: all 225ms ease-in-out;
        background-color: $primary;
    }
}

.active-filter {
    background-color: $primary;
}

.work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;

    @media (max-width: 460px) {
        gap: 60px;
    }
}

.project {
    width: 440px;
    height: 370px;
    position: relative;

    @media (max-width: 700px) {
        width: 340px;
        height: 270px;
    }

    @media (max-width: 550px) {
        width: 260px;
        height: 180px;
    }

    @media (max-width: 460px) {
        width: 200px;
        height: 120px;
    }

    @media (max-width: 300px) {
        width: 180px;
        height: 110px;
    }

    img {
        width: 100%;
    }
}

.try-out-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-size: 16px;
    text-align: center;
    gap: 8px;

    &:hover {
        opacity: 1;
    }

    h2 {
        margin: 16px;
    }
}

.try-out-button {
    color: #FA2759;
    background-color: white;
    border: 1px #FA2759 solid;
    height: 40px;
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: #FA2759;
        color: white;
    }
}