<div class="my-work-content" *ngIf="languageservice.chosenLanguage == 'english'">
    <div class="headline" id="portfolio">
        <h2>My work</h2>
    </div>
    <div class="filter-container">
        <div (click)="filterAll()" [ngClass]="{'active-filter' : allButton}" class="pri-btn active-filter">
            <span>All</span>
        </div>
        <div (click)="filterAngular()" [ngClass]="{'active-filter' : angularButton}" class="pri-btn">
            <span>Angular</span>
        </div>
        <div (click)="filterJavaScript()" [ngClass]="{'active-filter' : jsButton}" class="pri-btn">
            <span>JavaScript</span>
        </div>
    </div>
    <div class="work-container">
        <div data-aos="fade-up" data-aos-duration="3000" *ngFor="let project of tool; let i = index" class="project">
            <img src="{{ project.image }}">
            <div class="try-out-container" [class.d-none]="mobileWorkSection()">
                <h2>{{ project.name }}</h2>
                <p>{{ project.text }}</p>
                <a href="{{ project.url }}" target="_blank" class="try-out-button">Try out</a>
                <a href="{{ project.urlGithub }}" target="_blank" class="try-out-button">Github</a>
            </div>
            <div class="project-information d-none" id="project{{i}}">
                <h2>{{ project.name }}</h2>
                <p>{{ project.text }}</p>
            </div>
            <div class="try-out-container-mobile" [class.d-none]="mobileWorkSection() == false">
                <div class="work-information" (click)="openProjectInfomation(i)"><img src="assets/img/icons/information.png"></div>
                <div class="work-github"><a href="{{ project.urlGithub }}" target="_blank" class="github-mobile"></a></div>
                <div class="work-play"><a href="{{ project.url }}" target="_blank" class="try-out-mobile"></a></div>
            </div>
        </div>
    </div>
</div>

<div class="my-work-content" *ngIf="languageservice.chosenLanguage == 'german'">
    <div class="headline" id="portfolio">
        <h2>Meine Projekte</h2>
    </div>
    <div class="filter-container">
        <div (click)="filterAll()" [ngClass]="{'active-filter' : allButton}" class="pri-btn active-filter">
            <span>Alle</span>
        </div>
        <div (click)="filterAngular()" [ngClass]="{'active-filter' : angularButton}" class="pri-btn">
            <span>Angular</span>
        </div>
        <div (click)="filterJavaScript()" [ngClass]="{'active-filter' : jsButton}" class="pri-btn">
            <span>JavaScript</span>
        </div>
    </div>
    <div class="work-container">
        <div data-aos="fade-up" data-aos-duration="3000" *ngFor="let project of tool; let i = index" class="project">
            <img src="{{ project.image }}">
            <div class="try-out-container">
                <h2>{{ project.name }}</h2>
                <p>{{ project.text }}</p>
                <a href="{{ project.url }}" target="_blank" class="try-out-button">Teste es</a>
                <a href="{{ project.urlGithub }}" target="_blank" class="try-out-button">Github</a>
            </div>
            <div class="project-information d-none" id="project{{i}}">
                <h2>{{ project.name }}</h2>
                <p>{{ project.text }}</p>
            </div>
            <div class="try-out-container-mobile" [class.d-none]="mobileWorkSection() == false">
                <div class="work-information" (click)="openProjectInfomation(i)"><img src="assets/img/icons/information.png"></div>
                <div class="work-github"><a href="{{ project.urlGithub }}" target="_blank" class="github-mobile"></a></div>
                <div class="work-play"><a href="{{ project.url }}" target="_blank" class="try-out-mobile"></a></div>
            </div>
        </div>
    </div>
</div>