<div class="choose-language-container"> <!-- *ngIf="chooseAnNewLanguage == true" -->
    <div class="language-images">
        <img (click)="languageservice.languageEnglish()" src="assets/img/american-flag.png" *ngIf="languageservice.chosenLanguage == ''">
        <img (click)="languageservice.languageGerman()" src="assets/img/germany-flag.png" *ngIf="languageservice.chosenLanguage == ''">
    </div>
    <div class="title" *ngIf="languageservice.chosenLanguage == 'english' || languageservice.chosenLanguage == ''">
        <span class="block"></span>
        <h1>Hey, for the best possible experience, please select a language<span></span></h1>
    </div>
</div>
