$primary: #FA2759;
$secondary: #2DFCD8;
$grey: #1A1A1A;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0 120px;
    background-color: black;

    @media (max-width: 600px) {
        padding: 0 60px;
    }

    @media (max-width: 350px) {
        padding: 0 30px;
    }
}


.main-content {
    position: relative;
    width: 100vw;
}

.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131111;
    width: 100%;
    padding: 0 120px 117px 120px;

    @media (max-width: 630px) {
        padding: 0 60px 60px 60px;
    }

    @media (max-width: 350px) {
        padding: 0 30px 60px 30px;
    }
}

.my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 117px 120px;

    @media (max-width: 600px) {
        padding: 0 60px 117px 60px;
    }

    @media (max-width: 350px) {
        padding: 0 30px 117px 30px;
    }
}

.about-me {
    background-color: #131111;
    padding-bottom: 200px;
}

.contact-me {
    display: flex;
    justify-content: center;
    padding: 0 120px;

    @media (max-width: 630px) {
        padding: 0 60px;
    }

    
    @media (max-width: 350px) {
        padding: 0 30px;
    }
}