$primary: #FA2759;
$secondary: #2DFCD8;
$grey: #1A1A1A;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.main-content {
    width: 100vw;
    max-width: 1440px;
    position: relative;
}

.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131111;
    padding-bottom: 117px;
}

.my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 117px 120px;
}

.about-me {
    background-color: #131111;
    padding-bottom: 200px;
}

.contact-me {
    display: flex;
    justify-content: center;
}