$primary: #FA2759;
$secondary: #2DFCD8;
$grey: #1A1A1A;

#myskills {
        scroll-margin-top: 100px;
}

h2 {
    color: white;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    margin: 16px;
}

.skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    width: 700px;

    @media (max-width: 900px) {
        width: unset;
    }

}

.skill {
    width: 183px;
    height: 120px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25px;

    div {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translate(-50%, 0);
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);

        @media (max-width: 520px) {
            width: 45px;
            height: 45px;
            top: -22.5px;
        }
    }

    img {
        width: 30px;

        @media (max-width: 520px) {
            width: 20px;
        }
    }

    span {
        @media (max-width: 520px) {
            font-size: 14px;
        }
    }

    @media (max-width: 900px) {
        width: 176px;
        height: 110px;
    }

    @media (max-width: 520px) {
        width: 126px;
        height: 80px;
    }
}