<div class="skill-content" id="myskills">
    <h2>My Skills</h2>
    <div class="skill-container">


        <div data-aos="flip-down" class="skill" *ngFor="let mySkill of mySkills">
            <div>
                <img src="assets/img/icons/{{ mySkill.skillImg }}.svg">
            </div>
            <span>{{ mySkill.skillName }}</span>
        </div>



        <!-- <div class="skill">
            <div>
                <img src="../../assets/img/icons/HTML5.svg">
            </div>
            <span>JavaScript</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/Angular.svg">
            </div>
            <span>Angular</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/CSS3.svg">
            </div>
            <span>HTML / CSS</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/SCRUM.svg">
            </div>
            <span>SCRUM</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/Git.svg">
            </div>
            <span>Git</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/Pencil.svg">
            </div>
            <span>Design Thinking</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/API.svg">
            </div>
            <span>Rest API</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/Test-Animation.svg">
            </div>
            <span>Test autmation</span>
        </div>
        <div class="skill">
            <div>
                <img src="../../assets/img/icons/Databases.svg">
            </div>
            <span>Databases</span>
        </div> -->
    </div>
</div>